<div>
  <table class="table-dashboard">
    <tr class="header">
      <td colspan="6">PREDICCION PARA HOY</td>
    </tr>
    <tr class="sub-header">
      <td>Nro</td>
      <td>Grupo</td>
      <td>Partido</th>
      <td>Ciudad</td>
      <td>Fecha</td>
      <td>Hora</th>
    </tr>
    <% bets.includes(:match).each do |bet| %>
      <% bet.match.get_teams %>
      <tr class="row-game <%= cycle("odd", "even") %>">
        <td><%= bet.match.match_number %></td>
        <td><%= bet.match.group.name %></td>
        <td>
          <span><%= bet.match.local.abbr %></span>
            <%= flag(bet.match.local) %>
          <span><%= bet.try(:to_s) %></span>
            <%= flag(bet.match.visitor) %>
          <span><%= bet.match.visitor.abbr %></span>
        </td>
        <td><%= bet.match.stadium %></td>
        <td><%= bet.match.date.strftime("%d-%m") %></td>
        <td><%= bet.match.hour %></td>
      </tr>
    <% end %>
  </table>
</div>