<div>
  <table class="table-dashboard">
    <tr class="header">
      <td colspan="3">CLASIFICACIÓN</td>
    </tr>
    <tr class="sub-header">
      <td>Pos</td>
      <td>Usuario</td>
      <td>Puntos</td>
    </tr>
    <% classification.each_with_index do |(nickname, points), pos| %>
      <tr class="row-game <%= cycle("odd", "even") %> <%= highlight_current_user(nickname,
        :nickname) %>">
        <td><%= pos + 1 %></td>
        <td><%= nickname %></td>
        <td><%= points %></td>
    <% end %>
  </table>
</div>