<%= simple_form_for(@pool) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :end_date, as: :string, input_html: { class: "datepicker"} %>
  <%= f.input :completed %>
  <%= f.input :match_ids, collection: Match.all,
    input_html: { class: "chosen-select", multiple: true } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
