<div>
  <table class="table-dashboard">
    <tr class="header">
      <td colspan="7">PARTIDOS PARA HOY</td>
    </tr>
    <tr class="sub-header">
      <td></td>
      <td>Nro</td>
      <td>Grupo</td>
      <td>Partido</th>
      <td>Ciudad</td>
      <td>Fecha</td>
      <td>Hora</th>
    </tr>
    <% matches.each do |match| %>
      <% match.get_teams  %>
      <tr class="row-game <%= cycle("odd", "even") %>">
        <%= td_color(match.group.color) %>
        <td><%= match.match_number %></td>
        <td><%= match.group.name %></td>
        <td>
          <span><%= match.local.abbr %></span>
            <%= flag(match.local) %>
          <span><%= match.score_to_s %></span>
            <%= flag(match.visitor) %>
          <span><%= match.visitor.abbr %></span>
        </td>
        <td><%= match.stadium %></td>
        <td><%= match.date.strftime("%d-%m") %></td>
        <td><%= match.hour %></td>
      </tr>
    <% end %>
  </table>
</div>