<div class="group-table-widget">
<%= content_tag(:div, class: "group", id: "g#{group.id}", data: { id: group.id,
    teams: group.teams.map(&:name_js) }) do %>
  <% if bets.any? %>
      <div class="center">
        <b>Espera a que el fondo de las casillas de resultados esten de color verde
        para verificar que tu predicción ha sido guardada.</b>
      </div>
      <br>
      <table class="matches-widget">
        <tr class="header-widget">
          <td style="<%= set_background_color(group.color) %>">
            <%= group.name.split(" ")[1] %>
          </td>
          <% group.teams.each do |team| %>
            <td><ul><li><%= flag(team) %></li><li><%= team.abbr %></li></ul></td>
          <% end %>
          <td><%= image_tag("copa.png") %></td>
        </tr>
        <tr class="sub-header-widget">
          <td>FECHA</td>
          <td colspan="5">QUINIELA</td>
        </tr>
        <% bets.each do |bet| %>
          <% bet.match.get_teams %>
            <tr class="row-widget <%= cycle('odd', 'even')%>" id="bet-<%= bet.id %>">
              <!-- FECHA Y ESTADIO -->
              <td><ul>
                <li><%= bet.match.date.strftime("%d/%m") %></li>
                <li><%= bet.match.hour %></li>
                <li><%=raw bet.match.stadium.gsub("  ", "<br>") %></li>
              </ul></td>
              <!-- APUESTAS -->
              <td colspan="5">
                <ul>
                  <li class="li-bet">
                    <%= form_for bet, remote: true do |f| %>
                    <%= f.hidden_field :match_time, value: "full-time" %>
                    <div class="team"><%= bet.match.local.abbr %></div>
                    <div class="flag"><%= big_flag(bet.match.local) %></div>
                    <div class="field">
                      <%= f.text_field :local, class: "input-bet",
                        data: { team: bet.match.local.name_js } %>
                    </div>
                    <div class="field">
                      <%= f.text_field :visitor, class: "input-bet",
                        data: { team: bet.match.visitor.name_js } %>
                    </div>
                    <div class="flag"><%= big_flag(bet.match.visitor) %></div>
                    <div class="team"><%= bet.match.visitor.abbr %></div>
                    <% end %>
                  </li>
                </ul>
              </td>
            </tr>
        <% end %>
      </table>

      <table class="classification classification-widget" id="group_<%= group.id %>">
        <tr class="header-widget">
          <td style="<%= set_background_color(group.color) %>">
            <%= group.name.split(" ")[1] %>
          </td>
          <td>J</td>
          <td>G</td>
          <td>E</td>
          <td>P</td>
          <td>GF</td>
          <td>GC</td>
          <td>PTS</td>
        </tr>
        <% group.teams.each do |team| %>
          <tr class="row-team" id="<%= team.name_js %>" data-abrr="<%= team.abbr %>">
            <td><ul><li><%= flag(team) %></li><li><%= team.abbr %></li></ul></td>
            <td class="matches">0</td>
            <td class="win">0</td>
            <td class="draw">0</td>
            <td class="lose">0</td>
            <td class="goles_favor">0</td>
            <td class="goles_contra">0</td>
            <td class="points">0</td>
          </tr>
        <% end %>
        <tfoot>
          <tr class="row-team row-classified">
            <td colspan="8">
              <span class="teams-classified"></span>
            </td>
          </tr>
          <tr><td class="fake-space"></td></tr>
        </tfoot>
      </table>
  <% else %>
    No hay apuestas para este grupo
  <% end %>
<% end %>
</div>