<%= div_for_elimination_match(eb.elimination_match) do %>
  <div class="info-elimination-bet">
    <% eb.elimination_match.to_s %>
    <%= "[#{eb.elimination_match.match_number}]  #{eb.elimination_match.round}"  %><br>
    <% if eb.elimination_match.round == "Octavos" %>
      <% local_name = eb.elimination_match.local_name %>
      <% visitor_name = eb.elimination_match.visitor_name %>
      <%= truncate(eb.elimination_match.to_s, length: 18) %><br>
    <% else %>
      <% local_name = eb.local_name %>
      <% visitor_name = eb.visitor_name %>
      <%= truncate(eb.to_s, length: 18) %><br>
    <% end %>
    <%= "#{eb.elimination_match.date.strftime('%d-%m-%Y')}  #{eb.elimination_match.hour}" %>
  </div>
  <% if @pool.active_elimination %>
    <%= render partial: "form_for_elimination_bet", locals: { eb: eb,
      local_name: local_name, visitor_name: visitor_name } %>
  <% else %>
    <%= render partial: "show_elimination_bet", locals: { eb: eb } %>
  <% end %>
<% end %>
<% unless eb.elimination_match.round == "Final" ||
  eb.elimination_match.round == "3ro y 4to" %>
  <div class="triangle-down center-block"></div>
<% end %>