<div id="div-container">
<%= content_tag(:div, class: "group", id: "g#{group.id}", data: { id: group.id,
    teams: group.teams.pluck(:name) }) do %>
  <% if bets.any? %>
    <div class="matches-widget">
      <table id="matches">
      <tr class="header-widget">
        <td><%= group.name.split(" ")[1] %></td>
        <% group.teams.each do |team| %>
          <td><ul><li><%= flag(team) %></li><li><%= team.abbr %></li></ul></td>
        <% end %>
      </tr>
      <tr class="sub-header-widget">
        <td>FECHA</td>
        <td colspan="4">QUINIELA</td>
      </tr>
        <% bets.each do |bet| %>
          <% bet.match.get_teams %>
          <%= form_for bet, remote: true do |f| %>
          <tr class="row-widget <%= cycle('odd', 'even')%>" id="bet-<%= bet.id %>">
            <!-- FECHA Y ESTADIO -->
            <td><ul>
              <li><%= bet.match.date.strftime("%d/%m") %></li>
              <li>10:00</li>
              <li><%=raw bet.match.stadium.gsub("  ", "<br>") %></li>
            </ul></td>
            <!-- APUESTAS -->
            <td><ul><li><%= flag(bet.match.local) %></li>
            <li><%= bet.match.local.abbr %></li></ul></td>
            <td><span>
              <%= f.text_field :local, class: "input-bet", data: { team: bet.match.local.name } %>
            </span></td>
            <td><span>
              <%= f.text_field :visitor, class: "input-bet", data: { team: bet.match.visitor.name } %>
            </span></td>
            <td><ul><li><%= flag(bet.match.visitor) %></li>
            <li><%= bet.match.visitor.abbr %></li></ul></td>
            <%= f.hidden_field :match_time, value: "full-time" %>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="classification-widget">
      <table class="classification" id="group_<%= group.id %>">
        <tr class="header-widget">
          <td><%= group.name.split(" ")[1] %></td>
          <td>J</td>
          <td>G</td>
          <td>E</td>
          <td>P</td>
          <td>GF</td>
          <td>GC</td>
          <td>PTS</td>
        </tr>
        <tbody>
        <% group.teams.each do |team| %>
          <tr class="row-team <%= cycle("odd", "even")  %>" id="<%= team.name %>">
            <td><ul><li><%= flag(team) %></li><li><%= team.abbr %></li></ul></td>
            <td class="matches">0</td>
            <td class="win">0</td>
            <td class="draw">0</td>
            <td class="lose">0</td>
            <td class="goles_favor">0</td>
            <td class="goles_contra">0</td>
            <td class="points">0</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    No hay apuestas para este grupo
  <% end %>
<% end %>
</div>