<% @elimination_bets.each do |eb| %>
  <div class="elimination_match" id="<%= eb.elimination_match.id %>">
    <%= eb.elimination_match.to_s %>
    <%= eb.elimination_match.match_number %>
    <%= eb.to_s %>
    <%= form_for eb do |f| %>
      <%= flag(eb.elimination_match.local) if eb.elimination_match.local_team_id.present? %>
      <%= f.text_field :local, id: "score-local" %>
      <%= flag(eb.elimination_match.visitor) if eb.elimination_match.visitor_team_id.present? %>
      <%= f.text_field :visitor, id: "score-visitor" %>
      ------------------------
      <%= f.text_field :local_name, value: eb.elimination_match.local_name %>
      ------------------------
      <%= f.text_field :visitor_name, value: eb.elimination_match.visitor_name %>
      <%= link_to "Prueba", "#", class: "link-prueba" %>
    <% end %>
  </div>
<% end %>
