<%= index_panel("Quinielas", can?(:create, Pool), new_pool_path, dashboard_path ) do %>
  <% if @pools.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Partidos</th>
          <th>Limite</th>
          <th>Completada</th>
          <th class="center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @pools.each do |pool| %>
          <tr>
            <td><%= pool.name %></td>
            <td><%= pool.matches.count %></td>
            <td><%= pool.end_date %></td>
            <td><%= pool.completed %></td>
            <td class="center">
              <% if can? :read, pool %>
                <%= show_table_button pool %>
              <% end %>
              <% if can? :edit, pool %>
                <%= edit_table_button edit_pool_path(pool) %>
              <% end %>
              <% if can? :destroy, pool %>
                <%= destroy_table_button pool %>
              <% end %>
              <% if can? :read, Registration %>
                <%= registrations_table_button pool_registrations_path(pool)  %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>
