<% if current_user.regular? %>
<div class="row">
  <div class="col-md-8">
    <%= render "options_panel" %>
    <% unless @matches.nil? %>
      <%= render partial: "matches_for_today", locals: { matches: @matches } %>
    <% end %>
    <% unless @bets.nil? %>
      <%= render partial: "bets_for_today", locals: { bets: @bets } %>
    <% end %>
    <div class="info-container">
      <div class="dashboard-info">
        <div class="description">PARTICIPANTES</div>
        <div class="info"><span><%= @users.count %></span></div>
      </div>
      <div class="dashboard-info">
        <div class="description">POTE EN BS.</div>
        <div class="info"><span><%= @pool.pot_size %></span></div>
      </div>
      <div class="dashboard-info">
        <div class="description">MI POSICION</div>
        <div class="info">
          <span><%= position_in_classification(@table, current_user.nickname) %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render partial: "clasification", locals: { classification: @table } %>
  </div>
</div>
<% end %>