<div class="matches-widget">
  <table>
    <tr class="header-widget">
      <td>A</td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><%= image_tag("brazil.png") %></td>
    </tr>
    <tr class="sub-header-widget">
      <td>FECHA</td>
      <td colspan="2">RESULTADOS</td>
      <td colspan="2">QUINIELA</td>
      <td>PTS</td>
    </tr>
    <tr class="row-widget odd">
      <td><ul><li><b>12-06</b></li><li><b>10:00</b></li><li>Rio de Janerio</li></ul></td>
      <td colspan="2">
        <ul>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">3</span></li>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">5</span></li>
        </ul>
      </td>
      <td colspan="2">
        <ul>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">3</span></li>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">5</span></li>
        </ul>
      </td>
      <td class="ptos">
        <span class="score">45</span>
      </td>
    </tr>
    <tr class="row-widget even">
      <td><ul><li><b>12-06</b></li><li><b>10:00</b></li><li>Rio de Janerio</li></ul></td>
      <td colspan="2">
        <ul>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">3</span></li>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">5</span></li>
        </ul>
      </td>
      <td colspan="2">
        <ul>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">3</span></li>
          <li class="li-team"><%= image_tag("brazil.png") %><span class="flag-team">BRA</span>
          <span class="score">5</span></li>
        </ul>
      </td>
      <td class="ptos">
        <span class="score">45</span>
      </td>
    </tr>
  </table>
</div>