<%= index_panel("Buscador de Apuestas") do %>
  <p>
    <%= render "search_form_to_elimination" %>
  </p>
  <% if @bets.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Quiniela</th>
          <th>Juego</th>
          <th>Resultado</th>
          <th>Prediccion</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <% @bets.each do |bet| %>
          <tr>
            <td><%= bet.user.nickname %></td>
            <td><%= bet.pool.name %></td>
            <td><%= bet.match.to_s %></td>
            <td><%= bet.match.score_to_s %></td>
            <!-- <td> bet.to_s </td> -->
            <td><%= bet.score_to_s %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>
