<h1>Welcome to App</h1>
<div class="clasification-widget">
  <table>
    <tr class="header-widget">
      <td colspan="1">FECHA</td>
      <td colspan="4">RESULTADOS</td>
      <td colspan="4">QUINIELA</td>
      <td colspan="1">PTOS</td>
    </tr>
    <tr class="row-widget">
      <!-- FECHA -->
      <td><ul><li>12/05</li><li>10:00</li></ul></td>
      <!-- RESULTADO -->
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><span>3</span></td>
      <td><span>3</span></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <!-- QUINIELA -->
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><span>3</span></td>
      <td><span>3</span></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <!-- QUINIELA -->
      <td class="ptos"><span>6</span></td>
    </tr>
    <tr class="row-widget">
      <!-- FECHA -->
      <td><ul><li>12/05</li><li>10:00</li></ul></td>
      <!-- RESULTADO -->
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><span>3</span></td>
      <td><span>3</span></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <!-- QUINIELA -->
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><span>3</span></td>
      <td><span>3</span></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <!-- QUINIELA -->
      <td class="ptos"><span>6</span></td>
    </tr>
    <tr class="row-widget">
      <!-- FECHA -->
      <td><ul><li>12/05</li><li>10:00</li></ul></td>
      <!-- RESULTADO -->
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><span>3</span></td>
      <td><span>3</span></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <!-- QUINIELA -->
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <td><span>3</span></td>
      <td><span>3</span></td>
      <td><ul><li><%= image_tag("brazil.png") %></li><li>BRA</li></ul></td>
      <!-- QUINIELA -->
      <td class="ptos"><span>6</span></td>
    </tr>
  </table>
</div>
