<div id="score-remote-form" style="display:none"></div>

<%= index_panel("Partidos de Eliminacion", can?(:create, EliminationMatch), new_elimination_match_path, dashboard_path) do %>
  <% if @elimination_matches.any? %>
    <table class="table sorted" id="matches-table">
      <thead>
        <tr>
          <th data-sort="int"><%= link_to "#", "#" %></th>
          <th data-sort="date"><%= link_to "Fecha", "#" %></th>
          <th>Hora</th>
          <th>Juego</th>
          <th>Estadio</th>
          <th>Clasifica al Juego</th>
          <th>Como</th>
          <th>Resultado</th>
          <% if current_user.admin? %>
            <th colspan="3">Acciones</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @elimination_matches.each do |match| %>
          <tr>
            <td><%= match.match_number %></td>
            <td><%= match.date.strftime('%d-%m-%Y') %></td>
            <td><%= match.hour %></td>
            <td><%= match.to_s %></td>
            <td><%= match.stadium %></td>
            <td><%= match.next_match_to_s %></td>
            <td><%= match.select %></td>
            <td id="match-score-<%= match.id %>"><%= match.score_to_s %></td>
            <% if current_user.admin? %>
              <td>
                <%= edit_table_button edit_elimination_match_path(match) %>
                <%= destroy_table_button match %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>

