<%= index_panel("Registros", can?(:create, Score), new_match_score_path(@match), matches_path) do %>
  <% if @scores.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Periodo</th>
          <th class="center"><%= @match.local.name %></th>
          <th class="center"><%= @match.visitor.name %></th>
          <th class="center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @scores.each do |score| %>
          <tr>
            <td><%= score.match_time %></td>
            <td class="center"><%= score.local %></td>
            <td class="center"><%= score.visitor %></td>
            <td class="center">
              <% if can? :edit, score %>
                <%= edit_table_button [:edit, @match, score] %>
              <% end %>
              <% if can? :destroy, score %>
                <%= destroy_table_button [@match, score] %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>
