<h1>Listing scores</h1>
<table class="table">
  <thead>
    <tr>
      <th>Periodo</th>
      <th><%= @match.local.name %></th>
      <th><%= @match.visitor.name %></th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.match_time %></td>
        <td><%= score.local %></td>
        <td><%= score.visitor %></td>
        <% if can? :edit, score %>
          <td><%= link_to 'Edit', [:edit, @match, score] %></td>
        <% end %>
        <% if can? :destroy, score %>
          <td><%= link_to 'Destroy', [@match, score], method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Score %>
  <%= link_to 'New Score', new_match_score_path(@match) %>
<% end %>

<%= link_to 'Partidos', matches_path %>

