<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Quinela</th>
      <% if current_user.admin? %>
        <th>Usuario</th>
      <% end %>
      <th>Juego</th>
      <th class="center">Local</th>
      <th class="center">Visitante</th>
      <th>Periodo</th>
      <th class="center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.id %></td>
        <td><%= bet.pool.name %></td>
        <% if current_user.admin? %>
          <td><%= bet.user.name %></td>
        <% end %>
        <td><%= bet.match.to_s %></td>
        <td class="center"><%= bet.local %></td>
        <td class="center"><%= bet.visitor %></td>
        <td><%= bet.match_time %></td>
        <td class="center">
        <% if can? :edit, bet %>
          <%= edit_table_button edit_bet_path(bet) %>
        <% end %>
        <% if can? :destroy, bet %>
          <%= destroy_table_button bet %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>