<h1>Apuestas</h1>
<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <th>Quinela</th>
      <% if current_user.admin? %>
        <th>Usuario</th>
      <% end %>
      <th>Juego</th>
      <th>Local</th>
      <th>Visitante</th>
      <th>Periodo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.id %></td>
        <td><%= bet.pool.name %></td>
        <% if current_user.admin? %>
          <td><%= bet.user.name %></td>
        <% end %>
        <td><%= bet.match.to_s %></td>
        <td><%= bet.local %></td>
        <td><%= bet.visitor %></td>
        <td><%= bet.match_time %></td>
        <% if can? :edit, bet %>
          <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <% end %>
        <% if can? :destroy, bet %>
          <td><%= link_to 'Destroy', bet, method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>