<%= index_panel("Grupos", can?(:create, Group), new_group_path, dashboard_path) do %>
  <% if @groups.any? %>
    <table class="table sorted" id="groups-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Color</th>
          <th class="center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td style="<%= set_background_color(group.color) %>"><%= group.color %></td>
            <td class="center">
            <% if current_user.admin? %>
                <%= edit_table_button edit_group_path(group) %>
                <%= destroy_table_button group %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>

