<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <% if current_user.admin? %>
    <%= f.input :role, collection: ["admin", "regular"], input_html: { class: "chosen-select" } %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
