<%= index_panel("Usuarios", can?(:create, User), new_user_path, dashboard_path) do %>
  <% if @users.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Apellidos</th>
          <th>Nombres</th>
          <th>Nick Name</th>
          <th>Telefono</th>
          <th>Bonificacion</th>
          <th>Email</th>
          <th class="center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.last_name %></td>
            <td><%= user.name %></td>
            <td><%= user.nickname %></td>
            <td><%= user.phone %></td>
            <td><%= user.bonus_points %></td>
            <td><%= user.email %></td>
            <td class = "center">
              <% if can? :read, user %>
                <%= show_table_button user %>
              <% end %>
              <% if can? :edit, user %>
                <%= edit_table_button edit_user_path(user) %>
              <% end %>
              <% if can? :destroy, user %>
                <%= destroy_table_button user %>
              <% end %>
              <% if can?(:create_bets, user) && user.regular? %>
                <%= link_to_create_bets bets_user_path(user) %>
              <% end %>
            </td>
          <% if user.regular? %>
            <tr>
              <td colspan="8"><%= display_user_pools(user.active_pools) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>