<%= index_panel("Registros", false, "#", pools_path) do %>
  <% if @registrations.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>NickName</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Telefono</th>
          <th class="center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.nickname %></td>
            <td><%= registration.name %></td>
            <td><%= registration.last_name %></td>
            <td><%= registration.email %></td>
            <td><%= registration.phone %></td>
            <td class="center">
              <% if current_user.admin? %>
                <%= destroy_table_button [@pool, registration] %>
                <%= link_to "Inscribir", "#" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%=  mssg_for_empty_table %>
  <% end %>
<% end %>