<%= simple_form_for @contact do |f| %>
  <%= f.input :name, placeholder: "Nombre Completo", label: false %>
  <%= f.input :email, placeholder: "Correo Electronico", label: false %>
  <%= f.input :message, placeholder: "Comentarios", label: false, as: :text %>

  <div style="text-align: center">
    <%= submit_tag "ENVIAR", class: "btn btn-default" %>
  </div>
<% end %>