<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>
  <%= f.input :date %>
  <%= f.input :stadium %>
  <%= f.input :local_team_id, collection: Group.all, as: :grouped_select, group_method: :teams,
    group_label_method: :name, input_html: { class: 'chosen-select',
    data: { placeholder: "Seleccione Equipo"}  } %>
  <%= f.input :visitor_team_id, collection: Group.all, as: :grouped_select, group_method: :teams,
    group_label_method: :name, input_html: { class: 'chosen-select',
    data: { placeholder: "Seleccione Equipo"}  } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
