<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela-Home</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet"
    type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
  </head>
  <body style="padding-top: 50px">
    <%= render "shared/navbar_home" %>
    <div class="main">
    <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>