<!DOCTYPE html>
<html>
  <head>
    <title>Tuquinielaonline.com</title>
    <meta http-equiv="Content-Language" content="es">
    <meta name="description" content="La mejor quiniela online del mundial Rusia 2018">
    <meta name="keywords" content="mundial, quiniela, rusia, 2018, futbol, fifa">
    <meta name="ROBOTS" content="FOLLOW, INDEX">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet"
    type="text/css">
    <%= stylesheet_link_tag 'home', media: 'all' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
    <%= render "shared/navbar_home" %>
      <div class="row">
        <div class="col-md-12">
        <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'home' %>
  </body>
</html>